:root {
    --bg-color: #d8a494; 
    --card-bg: #fdfcfb;
    --text-main: #4a3f35;
    --accent: #6b5e54;
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 40px 20px;
    color: var(--text-main);
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    background: var(--card-bg);
    border-radius: 40px;
    padding: 40px 60px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo {
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    line-height: 1;
}
.logo-main {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4b3b33;
    text-transform: lowercase;
}

.logo-sub {
    font-size: 11px;
    letter-spacing: 3px;
    margin-top: 2px;
    color: #4b3b33;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: var(--text-main);
    margin: 0 15px;
    font-size: 0.9rem;
    opacity: 0.8;
}

nav a.active {
    font-weight: bold;
    opacity: 1;
}

.header-icons .icon-btn {
    background: none;
    border: 1px solid #ddd;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.divider {
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 20px 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 0.85rem;
}

select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: var(--text-main);
}

#product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}


.product-card {
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.image-wrapper {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 4/3;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1rem;
    margin: 5px 0;
    font-weight: 500;
}

.price {
    font-weight: bold;
    color: var(--accent);
}
